body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #230902;
    margin: 0px;
}

* {
    font-family: "Poppins", sans-serif;
}

/* <!-- header start --> */
.nav-box {
    position: fixed;
    width: 100%;
    background-color: #552E10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    width: 90%;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav img {
    width: 150px;
}

.ul-1 li {
    list-style-type: none;
    display: inline-block;
    padding: 0px 32px;
}

.ul-1 a {
    text-decoration: none;
    color: aliceblue;
}

.ul-2 a {
    text-decoration: none;
    color: aliceblue;
}

.ul-2 li {
    list-style-type: none;
    display: inline-block;
    margin: 10px;
}

.ul-2-1 a {
    border-radius: 12px;
    background: #FFF;
    padding: 8px 17px;
    border: 1px solid #FFF;
    color: #552E10;
}

.ul-2-2 a {
    border-radius: 12px;
    border: 1px solid #FFF;
    background: #552E10;
    padding: 8px;
}

.nav-for-ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav-ul-1 {
    width: 70%;
}


.links-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

#sidebar-active {
    display: none;
}

.open-sidebar-button,
.close-sidebar-button {
    display: none;
}

.svg-x{
    fill: #ffffff;
}
/* <!-- header finish --> */
/* <!-- main start --> */
main {
    margin-top: 88px;
}

/* <!-- about start --> */
.about {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img {
    display: flex;
    width: 90%;
    height: 500px;
    margin: 4%;
    border-radius: 32px;
    border: 2px solid white;
    background-image: url('../images/about-img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h2 {
    margin: -27px;
    color: #FFF;
    font-size: 30px;
    font-weight: 800;
}

.name {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name-0 {
    display: flex;
    flex-direction: column;
    line-height: 65px;
    margin-top: 60px;
}

.name-1 {
    color: #FFF;
    font-size: 75px;
    font-weight: 800;
    margin: 0px 10%;
}

.name-2 {
    color: #FFF;
    font-size: 60px;
    font-weight: 800;
    margin: 0px 10%;
}

.descri p {
    width: 80%;
    justify-self: center;
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.3px;
    margin: 0px;
}

.button {
    display: flex;
    justify-content: center;
    margin-bottom: 65px;
}

.button a {
    color: #552E10;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    background-color: #ffffff;
    padding: 0.6%;
    border-radius: 12px;
}

/* <!-- about finish --> */
/* <!-- info start --> */

.info {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 80px 80px 0px 0px;
}

.all-info {
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 0px;
    flex-wrap: wrap;
    gap: 3.7%;
    ;

}


.info-det {
    width: 21%;
    height: 284px;
    background-color: #552E10;
    margin: 32px 0px 10px 0px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    padding: 41px 55px;
}

.info-det p {
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 149.5%;
    letter-spacing: 0.18px;
    margin: 0;
    height: 200px;
    width: 200px;
}

.cards {
    display: flex;
    align-items: center;
    gap: 24px;
}

.cards-svg {
    width: 50px;
    height: 50px;
}

.cards-name {
    color: #FFF;
    font-size: 25px;
    font-weight: 700;
}

/* <!-- info finish --> */
/* <!-- main finish --> */


/* start footer */
footer
{
  width: 100%;
  background-color: #552E10;
  color: #fff;
  min-width: 359px;
  padding: 16px 0;
}

footer h1
{
  font-size: 1.563rem;
}
footer p
{
  margin-top: 10PX;
  text-align: center;
  font-size: 1.25rem;
}



.footer-contaner
{
  display: flex;
  justify-content: space-around;
  align-items: center;

  

}
.textQuickLinks
{
  height: 204px;

  display: flex;
  flex-direction:column;
  gap: 32px;
}

.textQuickLinks div ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.textQuickLinks div ul li a
{
  color: #fff;
  text-decoration: none;
  font-size: 1.25rem;
  height: 30px;
}

.textQuickLinks div select
{
 font-size: 1.25rem;
 width: 130PX;
}

.line-h
{
  width: 1px;
  height: 200px;
  background-color: #fff;
}

/* end footer */

/* @media :start */
@media(max-width: 1378px) {
    .info-det {
        width: 21%;
        height: 284px;
        background-color: #552E10;
        margin: 32px 0px 10px 0px;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 14px;
        padding: 30px 55px;
    }
}

@media(max-width: 1280px) {
    .all-info {
        width: 90%;
        display: flex;
        justify-content: center;
        margin: 0px;
        /* flex-wrap: wrap; */
        gap: 3.7%;
        ;

    }

    .info-det {
        width: 17%;
        height: 276px;
        background-color: #552E10;
        margin: 32px 0px 10px 0px;
        border-radius: 16px;
        padding: 85px 63px;
    }

    .descri p {
        width: 80%;
        justify-self: center;
        color: #FFF;
        font-family: Poppins;
        font-size: 19px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0.3px;
        margin: 0px;
    }

    h2 {
        margin: -30px;
        color: #FFF;
        font-size: 30px;
        font-weight: 800;
        margin-top: -19px;
    }
    .info-det p {
        color: #FFF;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 149.5%;
        letter-spacing: 0.18px;
    }
}

@media(max-width: 1080px) {
    .all-info {
        width: 90%;
        display: flex;
        justify-content: center;
        margin: 0px;
        /* flex-wrap: wrap; */
        gap: 3.7%;
        ;

    }

    .info-det {
        width: 29%;
        height: 350px;
        background-color: #552E10;
        margin: 32px 0px 10px 0px;
        border-radius: 16px;
        padding: 35px 62px;
    }

    .descri p {
        width: 80%;
        justify-self: center;
        color: #FFF;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0.3px;
        margin: 0px;
    }

    .name-0 {
        display: flex;
        flex-direction: column;
        line-height: 65px;
        margin-top: 50px;
    }

    h2 {
        margin: -30px;
        color: #FFF;
        font-size: 30px;
        font-weight: 800;
        margin-top: -18px;
    }

}

@media(max-width: 767px) {

    /* <!-- header start --> */
    .links-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        background-color: #552e10f3;
        gap: 100px;
        top: 0;
        right: -100%;
        width: 300px;
        z-index: 10;
    }
    .nav {
        width: 90%;
        height: 88px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-ul-1 {
        width: auto;
    }

    .nav-for-ul {
        display: flex;
        flex-direction: column;
        align-items: first baseline;
        gap: 30px;
        margin-left: 30px;
    }

    .ul-1 {
        gap: 30px;
    }

    .ul-1 li {
        list-style-type: none;
        display: block;
        padding: 26px 32px
    }

    .open-sidebar-button,
    .close-sidebar-button {
        padding: 0px;
        display: block;
    }

    #sidebar-active:checked~.links-container {
        right: 0;
    }

    #sidebar-active:checked~#overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }

    /* <!-- header finish --> */
    .all-info {
        width: 90%;
        display: flex;
        justify-content: center;
        margin: 0px;
        /* flex-wrap: wrap; */
        gap: 3.7%;
        ;

    }

    .info-det {
        width: 90%;
        height: 350px;
        background-color: #552E10;
        margin: 32px 0px 10px 0px;
        border-radius: 16px;
        padding: 35px 62px;

    }

    .descri p {
        width: 80%;
        justify-self: center;
        color: #FFF;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0.3px;
        margin: 0px;
    }

    .name-0 {
        display: flex;
        flex-direction: column;
        line-height: 65px;
        margin-top: 40px;
    }

    h2 {
        margin: -27px;
        color: #FFF;
        font-size: 30px;
        font-weight: 800;
        margin-top: -3px;
    }

    /* footer media */
  .textQuickLinks 
  {
    height: 130px;
  gap: 18px;

  }
  footer h1
{
  font-size: 1rem;
}

.textQuickLinks div ul li a
{
  color: #fff;
  text-decoration: none;
  font-size: 0.8rem;

}
.textQuickLinks div select
{
 font-size: 0.7rem;
 width: 68px;
}
footer p
{
  margin-top: 10px;
  text-align: center;
  font-size: 1rem;
}

.line-h
{
  height: 120px;
}

}

@media(max-width: 450px) {
    .all-info {
        width: 90%;
        display: flex;
        justify-content: center;
        margin: 0px;
        /* flex-wrap: wrap; */
        gap: 3.7%;
        ;

    }

    .info-det {
        width: 69%;
        height: 350px;
        background-color: #552E10;
        margin: 32px 0px 10px 0px;
        border-radius: 16px;
        padding: 35px 62px;

    }

    .descri p {
        width: 80%;
        justify-self: center;
        color: #FFF;
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0.3px;
        margin: 0px;
    }

    .name-0 {
        display: flex;
        flex-direction: column;
        line-height: 65px;
        margin-top: 40px;
    }
}

/* @media :finish */