body {
    background-color: blue;
    margin: 0px;
}

/* <!-- header start --> */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
    background-color:#552E10;
}

.nav img {
    width: 150px;
}

.ul-1 li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 50px;
}

.ul-1 a {
    text-decoration: none;
    color: aliceblue;
}

.ul-2 a {
    text-decoration: none;
    color: aliceblue;
}

.ul-2 li {
    list-style-type: none;
    display: inline-block;
    margin: 10px;
}

/* <!-- header finish --> */