body {
    background: #230902;
    margin: 0px;
}

* {
    font-family: "Poppins", sans-serif;
}

/* <!-- header start --> */
.nav-box{
    width: 100%;
    background-color: #552E10;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav {
    width: 95%;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
}

.nav img {
    width: 150px;
}

.ul-1 li {
    list-style-type: none;
    display: inline-block;
    padding: 0px 32px;
}

.ul-1 a {
    text-decoration: none;
    color: aliceblue;
}

.ul-2 a {
    text-decoration: none;
    color: aliceblue;
}

.ul-2 li {
    list-style-type: none;
    display: inline-block;
    margin: 10px;
}

.ul-2-1 a {
    border-radius: 12px;
    background: #FFF;
    padding: 8px 17px;
    border: 1px solid #FFF;
    color: #552E10;
}

.ul-2-2 a{
    border-radius: 12px;
    border: 1px solid #FFF;
    background: #552E10;
    padding: 8px;
}
/* <!-- header finish --> */